* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.registration-page {
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.registration {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wait {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wait-hidden {
  visibility: hidden;
}

.game-name {
  width: 100vw;
}

.user-name {
  width: 100vw;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(90px * 6);
  height: calc(90px * 6);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e7d2a1;
}

.cell {
  width: 64px;
  height: 64px;
  margin: 13px;
  display: flex;
  justify-content: center;
  transform: rotate(45deg);
  align-items: center;
}

.cell img {
  width: 48px;
  position: relative;
}

.hidden {
  visibility: hidden;
}

.selected {
  background-color: #5f5fdc;
}

.black {
  background-color: #603c3c;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #4f0d98;
}